/* Zerando a página */
*{
    margin: 0;
    padding: 0;
}

/* Estilizando o fundo do site */
body{
    background-image: url(backbody.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

 /* Div mãe de todas */
 #geral{
    background-color: rgba(255, 239, 249, 0.9);
    border-radius: 15px;
    height: 530px;
    margin-left: 65px;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 1200px;
 }

 /* Menu */
 #div1{
     background-image: linear-gradient(rgb(243, 157, 207), pink);
     border-radius: 15px 15px 0px 0px;
     float: left;
     font-size: 20px;
     height: 40px;
     position: sticky;
     top: 0;
     width: 1200px;
 }

    #div1 ul li{
        float: left;
        list-style: none;
        width: 100px;
        padding: 12px 70px 12px 70px;
    }

    #div1 ul li a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-shadow: 5px 5px 10px rgb(143, 17, 95);

    }

/* Segunda linha - primeiro bloco */
#div2{
    float: left;
    height: 400px;
    padding: 10px 20px 20px 50px;
    width: 500px;
}
    #div2 h2{
        text-align: center;
        font-family: caroline;
        font-size: 60px;
        padding-bottom: 10px;
    }
    @font-face{
        font-family: caroline;
        src: url(Moda_Beleza/Caroline.otf);
    }
    #salto{
        float: left;
        position: relative;
        left: 100px;
        top: 10px;
        height:300px;
        z-index: 2;
    }

    #div2-1{
        bottom: 300px;
        float: right;
        height: 150px;
        position: relative;
        text-align: right;
        width: 250px;
        z-index: 1;
    }
    #div2-2{
        bottom: 150px;
        float: left;
        position: relative;
        width: 250px;
        z-index: 3;
    }

    /* Segunda linha - segundo bloco */
#div3{
    float: left;
    height: 400px;
    padding: 20px 20px 20px 80px;
    width: 500px;
}
    #div3 h2{
        text-align: center;
        font-family: caroline;
        font-size: 60px;
        padding-bottom: 10px;
    }
    @font-face{
        font-family: caroline;
        src: url(Moda_Beleza/Caroline.otf);
    }
    #vestido{
        float: right;
        position: absolute;
        left: 840px;
        top: 280px;
        height:450px;
        z-index: 2;
    }
    #div3-1{
        float: right;
        height: 154px;
        position: relative;
        width: 500px;
        z-index:3;
    }

    #div3-2{
        float: left;
        height: 154px;
        position: relative;
        top: 10px;
        width: 500px;
        z-index: 1;
    }

/* Formulário */
form{
    background-color: rgb(230, 11, 113);
    bottom: 300px;
    height: 250px;
    left: 65px;
    line-height: 30px;
    position: fixed;
    text-align: center;
    top: 420px;
    width: 250px;
    z-index: 5;
}
#comentario{
    margin-top: 10px;
}
/* Feito por Talita Fernandes 30/03/21 */