
Docs/Anexo_I_Declaração.docx.pdf
Docs/Anexo_II _Autorização_Uso_Imagem.docx.pdf
Docs/Capturar3.JPG
Docs/Capturar4.JPG
Docs/Contrato_Aluno_Gratuidade.docx.pdf
Docs/Curso I HTML Bootcamp Web Developer Full Stack BCW2 - Copia.docx
Docs/Curso I HTML Bootcamp Web Developer Full Stack BCW2.docx
Docs/feedback projeto css.pdf
Docs/Metodologias ageis.pdf
Fotos/1.JPG
Fotos/2.JPG
Fotos/3.JPG
Fotos/4.JPG
Fotos/Capa LinkedIn.jpeg
Fotos/Capturar.JPG
Fotos/Capturar.JPG2.JPG
Fotos/Fundo Meet.jpeg
Fotos/mentoria.JPG
Fotos/mentoria2.JPG
Fotos/mentoriaCronograma.JPG
Fotos/monroe.jpg
Fotos/saritocat.png
Fotos/stickers.html
Fotos/stickers.jpeg
Fotos/stickers_files/app.html
Fotos/stickers_files/cb=gapi(1).loaded_0
Fotos/stickers_files/cb=gapi.loaded_0
Fotos/stickers_files/cb=gapi.loaded_1
Fotos/stickers_files/googleapis.proxy.js.download
Fotos/stickers_files/lazy.min.js.download
Fotos/stickers_files/m=_b,_tp
Fotos/stickers_files/proxy.html
Fotos/stickers_files/rs=AA2YrTtQhm3iubSZCk2M-aJXPDvw27-nIw
Fotos/stickers_files/rs=AA2YrTuuRoat3QFBNDnlCzQThfgcGSSOYA
Fotos/stickers_files/unnamed.jpg
Fotos/WhatsApp Image 2021-03-08 at 08.36.15 (1).jpeg
Fotos/WhatsApp Image 2021-03-08 at 08.36.15.jpeg
Gifs/atalho.gif
Gifs/bob-esponja-lendo.gif
Gifs/Desaparecendo.gif
Gifs/filmagem.gif
Gifs/gratis.gif
Gifs/oi.gif
Gifs/quero.gif
Gifs/selfie.gif
Programas/Git-2.31.1-64-bit.exe
Programas/GitHubDesktopSetup.exe
Programas/ShareX-13.4.0-setup.exe
Programas/Sublime Text Build 3211 x64 Setup.exe
ProjetosPessoais/CrocMix/canudo1.JPG
ProjetosPessoais/CrocMix/canudo2.JPG
ProjetosPessoais/CrocMix/canudo3.JPG
ProjetosPessoais/CrocMix/logo.JPG
