/* para zerar espaçamento de margim e padding dos browzers */
*{
    margin: 0;
    padding: 0;
}

/* Gradiente de fundo do site */
body{
    background-color: rgb(226, 245, 241) 
}

/* base do site */
#site{
    font-size: 19px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* cabeçalho */
header{
    grid-column: 1/-1;
    background-image:linear-gradient(rgb(8, 221, 186), rgb(8, 173, 165), rgb(3, 110, 110));
    box-shadow: 3px 3px 7px rgb(48, 47, 47);
    position: sticky;
    top: 0;
    z-index: 3;
}
header img{
    padding: 15px 0px 0px 60px;
    width: 10%;
}

ul li a{
    font-size: 25px;
}

/* campo pesquisa */
#pesquisa input{
    float:right;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 7px;
}
#pesquisa button{
    float: right;
    border-radius: 5px;
    padding: 6px;
    margin-right: 1rem;
}

/* menu */
#menu{
    display: flex;
    float: left;
    color: white;
    list-style: none;
}
#menu li{
    padding-left: 60px;
}
#menu li a{
    color: white;
    text-decoration: none;
}
#menu li a:hover{
    color: rgb(182, 226, 240);
}

/* subtitulos e texto do site */
#soulCode h3{
    font-size: 40px;
    padding: 30px 0px 20px 0px;
    text-align: center;
    font-family: 'Zilla Slab Highlight', cursive;
}
#soulCode p{
    color: rgb(77, 72, 10);
    padding: 20px;
    text-align: center;
}

/* ---------------------------------------------------------------------------- */
/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Zilla Slab Highlight', cursive;
 */

/* imagem */
#sec2{
    display: flex;
    flex-direction: row;
}
section div img{
    margin: 20px 20px;
    width:250px;
    border-radius: 150px;
}

section div h3{
    text-align: center;
    padding: 10px;
}

/* titulo do site */
h1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    text-decoration: overline underline;
}
#div1, #div2, #div3, #div4{
    margin-left:10px;
    width: 300px;
    padding: 10px;
}

/* rodapé */
footer{
    background-color: rgb(2, 41, 42);
    display: flex;
    flex-direction: row;
    height: 130px;
    grid-column: 1/-1;
}
#preLogo{
    padding-left: 50px;
}
footer ul{
    color: white;
    font-size: 20px;
    list-style: none;
    padding-left: 70px;
    padding-top: 20px;
}
footer li a{
    color: wheat;
    font-size: 17px;
    text-decoration: none;
}
#redes{
    padding-left: 100px;
}
.imgRedes{
    border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    padding-top: 20px;
    width: 50px;
}

/* WhatsApp */
#zap{
    border-radius: 100px;
    left: 79rem;
    top: 26rem;
    position: fixed;
    width: 80px;
}
